/Poil_32merFrq.tsv
/Poil_contigBubble.fa
/Poil_lib1_insFreq.tsv
/Poil_lib2_insFreq.tsv
/Poil_scaffoldBubble.fa
/Poil_scaffoldComponent.tsv
/assemble.log
/fastqc
/fastqc_trim
/gapclose.log
/matepairs.fastq.int_trimmed
/matepairs2.fastq.int_trimmed
/multiqc
/multqctrim
/scaffold.log
/sub1.fastq.trimmed
/sub2.fastq.trimmed
/oilMP_S4_L001_R1_001.fastq
/oilMP_S4_L001_R2_001.fastq
/oil_R1.fastq
/oil_R2.fastq